/* RESET RULES  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a { 
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

img  {
    width: 100%;
}

/* LAYOUT  */

html {
    font-family: "Montserrat", sans-serif;
}

.Booleano_site {
    font-family: "Nerko One";
    font-weight: 500;
    font-style: normal;
    font-size: 45px;
    color: #FF9614;
    padding: 25px;
}


/* media queries */
/* DESKTOP FIRST */

@media (max-width: 767.99px) {

    .navbar {
        text-align: center;
    }

 }





/* DEBUG  */

.debug{
    border: 2px solid black;
}