/* RESET RULES  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a { 
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

img  {
    width: 100%;
}

/* LAYOUT  */

html {
    font-family: "Montserrat", sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.container {
    max-width: 1367px;
    margin: 0 auto;
}

.card_title {
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 65px;
}

.card_body {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 100%;
}

.recipe_description {
    padding-left: 35px;
    padding-top: 50px;
    padding-right: 100px;
    line-height: 35px
}

.bold {
    font-weight: bold;
}

/* NAVBAR  */

.Booleano_site {
    font-family: "Nerko One";
    font-weight: 500;
    font-style: normal;
    font-size: 45px;
    color: #FF9614;
    padding: 25px;
}

/* MAIN  */

main {
    background-color: #D9D9D9 ;
}

.social_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 40px;
    width: 100%;
}

.btn {
    border: 2px solid black;
    border-radius: 999px;
    padding: 15px 60px;
}

.banner { 
    width: 100%;
}








/* media queries */
/* DESKTOP FIRST */

@media (max-width: 767.99px) {

    .navbar {
        text-align: center;
    }

 } 

 @media (max-width: 991.99px) {

    .social_name {
        display: none;
    }

 }






/* DEBUG  */

.debug{
    border: 2px solid black;
}